.Element {
  border-width: 3px;
  border-style: solid;
  border-color: white grey grey white;
  width: 28px;
  height: 28px;
  box-sizing: border-box;

}

.open {
  border: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background: none;
}